* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
  }

  .header {
    width: 100%;
    background: #0f172a;
    padding: 18px 6%;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .header-container {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: #004712;
    height: 6em;
  }

  .logo {
   width: 15%;
   display: flex;
   justify-content: left;
   align-items: left;
  }

  .logo:hover{
    transform: translateY(-3px);
    transition: 0.2s;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
  }

  .nav a:hover {
    color: #059c0d;
  } 

  .btn {
    background: #059c0d;
    color: #ffffff;
    padding: 11px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    margin-right: 10%;
  }

  .btn:hover {
    background: #00ff40;
    transform: translateY(-2px);
  }

  
.h1h{
  font-size: 5em;
  color: rgb(0, 36, 14);
  display: flex;
  justify-content:left;
  margin-top: 1em;
}




.banner {
    position: relative;

    width: 100%;
    max-width: 100%;
    height: 50em;

    background-image: url("img/tf1.png");
    background-size: cover;
    background-position: center;

    margin: auto;
}

.conteudo {
    position: absolute;

    /* posição do conteúdo em cima da imagem */
    top: 90px;
    left: 65px;

    width: 600px;
}



.botoes {
    display: flex;
    gap: 20px;
    margin-top: 37em;
}

.btn {
    padding: 16px 30px;
    border-radius: 10px;

    text-decoration: none;
    font-size: 17px;
    font-weight: bold;

    transition: 0.3s;
}

.saiba {
    background-color: #78df42;
    color: #061b0d;
}

.dados {
    background-color: transparent;
    color: white;
    border: 2px solid #78df42;
}

.btn:hover {
    transform: translateY(-3px);
}



  @media (max-width: 700px) {
    .nav {
      display: none;
    }

    .header-container {
      justify-content: space-between;
    }
  }